/*Whole tags*/

*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    background-color: lightgrey;
}

div{
    background-color: white;
    width: 100%;
}

h1{
font-size: 3rem;
}

h2{
    font-size: 2rem;
}

p{
    font-size: 1.5rem;
    padding-left: 1.5%;
}

/* FOOTER (whole tag)*/

footer{
    background-color: lightgrey;
    text-align: center;
}

footer P{
    color: black;
    font-size: 1rem;
}

footer a{
    color: red;
}

/*TODAYS SPECIAL*/

.todays_special{
    padding-top: 5%;

}

.todays_special h2{
    color: red;
    text-decoration: underline;
    text-align: center;
}

.todays_special p{
    color: black;
}

/*WELCOME MESSAGE*/


.welcome_message{
padding-top: 5%;
}

.welcome_message h2{
    color: red;
    text-align: center;
}

.welcome_message p{
    color: black;
}

/*PAGE TITLE*/

.page_title{
    text-align: center;
    color: red;

}

.home_page_title{
    text-align: center;
    color: red;
}

/*NAVIGATION BAR*/

.nav_menu{
    background-color: lightgrey;
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: space-around;
    /*position: relative;*/
}

.nav_menu a{
    color: red;
    text-decoration: none;
    font-size: 2.5rem;
}

.nav_menu a:hover{
    background-color: gray;
/*    color: rgb(252, 252, 252);*/
    /*transform: scale(1.3);*/
    transition: .3s;
}

/*My Biography*/

.my_biography{
    color: red;
    text-align: center;
    text-decoration: underline;
}

/*Bio Header*/

.bio_header{
    color: black;
    text-align: center;
}

/*Bio Body*/

.bio_body{
    color: black;
}

/*LOGO*/

.uh_logo_ img{
    max-width: 100%;
    width: 200px;
    height: auto;
    margin-left: -40px;
    margin-bottom: -80px;
}

/*FOOD PIC1*/

.food_pic1 img{
    max-width: 100%;
    width: 25%;
    height: auto;
    display: block;
    margin: auto;
}

.food_pic1{
    text-align: center;
}

/*CHEF PIC*/

.chef_pic img{
    max-width: 100%;
    width: 50%;
    height: auto;
    display: block;
    margin: auto;
}

/*BIO FLICK*/

.bio_flick img{
    width: 35%;
    height: 55%;
    border-radius: 50%;
    display: block;
    margin: auto;
}

.bio_flick figcaption{
    text-align: center;
    padding-top: 2%;
}

.bio_flick img:hover{
    transform: scale(1.1);
    padding: 1% 0 1% 0;
    
}
/*UP ARROW*/

a i{
font-size: 200%;
}

.up_arrow{
    text-decoration: none;
}

.cta_btn{

scroll-behavior: smooth ;
transition: 1s;
width: 30px;
height: 30px;
border-radius: 50%;
}

.scrollUpBtn{
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 25px ;
    color: black;
    background: red;
    bottom: 25px;
    right: 25px;
    font-weight: 200;
    font-size: 4.5rem;
    text-decoration:none ;
    text-align: center ;
    line-height: 70px;
}


.scrollUpBtn:hover{
    background-color: lightgray;
    color: red;
    transform: scale(1.3);
    transition: .5s;


}


